@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
  --font-family-for-headings: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-image: url(/images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--Violet);
}
.container {
  margin: 0 auto;
  max-width: 1440px;
}
.wrapper {
  padding: 4.5rem;
}
.navbar {
  margin-bottom: 4rem;
}
.nav-logo img {
  max-width: 190px;
}
.content {
  display: flex;
}
.content-imag img {
  width: 100%;
}
.content-text {
  max-width: 450px;
  padding: 2rem;
}
.content-heading {
  font-size: 32px;
  padding-top: 10px;
  font-family: var(--font-family-for-headings);
  font-weight: 600;
  color: #fff;
  margin-bottom: 25px;
}
.content-p {
  font-size: 16px;
  font-weight: 400;
  color: #dddddd;
  margin-bottom: 18px;
}

.btn {
  padding: 0.7rem 2.6rem;
  border-radius: 15rem;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.btn a {
  text-decoration: none;
  color: var(--Violet);
}
.btn:hover {
  background-color: var(--Soft-Magenta);
  color: #fff;
}
.btn:hover a {
  color: #fff;
}
.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 25px;
}
.footer .footer-icons {
  width: 35px;
  height: 35px;
  color: #ffff;
  padding-right: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.footer-icons:hover {
  color: var(--Soft-Magenta);
}
@media (max-width: 1000px) {
  body {
    background: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--Violet);
  }
  .container {
    min-width: 375px;
  }
  .wrapper {
    margin-top: 22px;
    padding: 2.5rem;
    min-width: 375px;
  }
  .navbar {
    margin-top: -2.5rem;
    margin-left: -1rem;
  }
  .nav-logo img {
    max-width: 135px;
  }
  .content {
    display: flex;
    flex-direction: column;
    margin-left: -5px;
  }
  .content-imag img {
    width: 100%;
    margin-bottom: 2rem;
  }
  .content-text {
    max-width: 450px;
    padding: 0 1rem;
    text-align: center;
  }
  .content-heading {
    font-size: 24px;
    padding-top: 10px;
    font-family: var(--font-family-for-headings);
    font-weight: 600;
    color: #fff;
    margin-bottom: 22px;
  }
  .content-p {
    margin-bottom: 22px;
  }
  .btn {
    padding: 0.7rem 4.6rem;
    margin-bottom: 55px;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  .footer .footer-icons {
    width: 25px;
    height: 25px;
    color: #ffff;
    padding-right: 10px;
    cursor: pointer;
    transition: 0.2s;
  }
}
